.container {
  padding: 0 10px 0 10px;
  font-family: "Times New Roman,Georgia,Serif";
}
.heading {
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheading {
  background-color: #ddebf7;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  padding: 5px;
}
